<style>
 svg {
     /* border: 3px solid #eee; */
     display: block;
     margin: 1em auto;
 }

 .answer-zone {
     display: block;
     width: 100%;
     padding: 2em;
 }

 .centered {
     margin-left: auto;
     margin-right: auto;
     display: block;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
 }

 html, body { margin: 0; padding: 0; }

</style>


<!-- <h1> TEST 11 {{id}}</h1> -->
<div id="emb-svg">
    {{{svg}}}
</div>

<div class="answer-zone">
    <div class="text-center">
        {{#each answers}}
        <button type="button"
                class="btn-lg btn-primary answer"
                style="width:6em;">{{this}}</button>
        {{/each}}
    </div>
    <br>
    <div class="text-center">
		<button id="tryAgain" type="button" class="btn-lg btn-success">Попробуй еще</button>
    </div>
</div>

<script type="text/javascript">
 var svg_object = null;

 function control_answers(conf) {
     var answer = conf.answer;
     $(".answer").on("click", function(){
         btn = $(this);
         var a = btn.text().trim();
         if (a==answer) {
             conf.good();
         } else {
             conf.bad();
         }
     }
     )};

 $(function() {
     // {{answers}}
     svg_object = $("#emb-svg");
     var queeze = "{{queeze}}";
     var answer = "{{answer}}";
     var q = $("#queeze");
     q.text("{{queeze}}");
     var s = q.attr("style");
     s = s.replace("text-align:end;", "text-align:middle;");
     s = s.replace("text-anchor:end;", "text-anchor:middle;");
     q.attr("style", s);
     
     $("#good").hide();
     $("#bad").hide();
     
     $("#tryAgain").click(function(){
		location.reload();
     });

     control_answers({
         answer: answer,
         good: function () {
				$("#good").show();
				$("#bad").hide();
         },
         bad: function () {
			 $("#bad").show();
			 $("#good").hide();
         }
     });
 });
</script>
